@model IEnumerable<GymTrack.Models.ExerciseDayProgram>

@{
    ViewBag.Title = "ExerciseDayProgram";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Rich is one nutty guy.
            Seriously - GIT is making him nuts.
            @Html.DisplayNameFor(model => model.ExerciseDayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedSets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedReps)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseDayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedSets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedReps)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
