@model GymTrack.ViewModels.ExerciseDayProgramIndexData


@{
    ViewBag.Title = "ExerciseDayPrograms";
}

<h2>Daily Exercise Programs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseDayPrograms)
        </th>
        <th></th>
    </tr>

@foreach (var group in Model.ExerciseDayPrograms.GroupBy(ep => ep.ExerciseDayName))
    {      
            string selectedRow = "";
            if (group.Key == ViewBag.ExerciseDayName)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">                
                <td>
                    @Html.DisplayFor(modelItem => group.Key)
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { id = group.Key })
                </td>
            </tr>
     }

</table>







