@model GymTrack.Models.PlannedRepsAndSets


@{
    ViewBag.Title = "Create";
}

<h2>Add Exercises to a program</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ExerciseDayProgramID, "Program Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExerciseDayProgramID", null, htmlAttributes: new { @class = "form-control", @id = "programID", @onchange = "getExerciseID()" })
                @Html.ValidationMessageFor(model => model.ExerciseDayProgramID, "", new { @class = "text-danger" })
                @Html.ActionLink("Show exercises", "Create", new { id = 4 })  // This is hard coded to 4, how can we get 
            </div>
        </div>

        <br />

        <h4>Select exercises, sets and reps</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.ExerciseID, "Exercise Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExerciseID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExerciseID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PlannedSets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlannedSets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlannedSets, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlannedReps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlannedReps, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlannedReps, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<h3>Exercises for the routine selected above</h3>
<table class="table">
    <tr>
        <th>Exercise</th>
        <th>Planned Reps</th>
        <th>Planned Sets</th>
    </tr>

    @foreach (var item in ViewBag.Exercises)
    {
        <tr>
            <td>@item.Exercise.ExerciseName</td>
            <td>@item.PlannedSets</td>
            <td>@item.PlannedReps</td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function getExerciseID(){
        if($("#programID").val()!=""){
            $.get("/PlannedRepsAndSets/Create",
               {id: $("#programID").val()}
            )}};
</script>