@model IEnumerable<GymTrack.Models.PlannedRepsAndSets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.ExerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseDayProgram.ExerciseDayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedSets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedReps)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise.ExerciseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseDayProgram.ExerciseDayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedSets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedReps)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
