@model IEnumerable<GymTrack.Models.Results>

@{
    ViewBag.Title = "Results";
}

<h2>Your logged results are listed below</h2>

<p>
    @Html.ActionLink("Log new exercises", "Create")
</p>

@using (Html.BeginForm("Index", "Results", FormMethod.Get))
{
    <p>
        @*Find by Exercise Day Name: @Html.TextBox("exerciseDaySearchName", ViewBag.CurrentFilter as string)   <input type="submit" value="Search" />*@
        Exercise Program Name: @Html.DropDownList("exerciseDaySearchName", "All")
        Find by Exercise Name: @Html.DropDownList("exerciseName", "All")
        
        <input type="submit" value="filter" />
    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.ExerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseDayProgram.ExerciseDayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reps)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseDayProgram.ExerciseDayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
